<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程批量导入(Excel)</title>
    <link rel="stylesheet" href="../../../css/form.css" type="text/css">
</head>
<body>
<div class="header">
    <span>课程管理</span>>><span>课程批量导入(Excel)</span>>>
</div>
<div class="login_box">
    <div class="login_title">课程批量导入</div>
    <div class="error_msg">${msg}</div>
    <form class="form_login" action="" method="post">
        <div class="login_info_row">
            <div class="login_info">
                <div>课程ID</div>
                <input type="file" name="file">
                <div class="regexmsg">格式错误</div>
            </div>
        </div>
    </form>
</div>
</body>
</html>