<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../css/common.css" type="text/css">
    <link rel="stylesheet" href="../../../css/server.css" type="text/css">
    <script src="../../../js/jquery-3.3.1.js"></script>
    <script src="../../../js/server.js"></script>
</head>
<body>
    <div class="top">
        <div class="server_title">
            <h1>课程后台管理系统</h1>
        </div>
        <div class="login_user">
            <div class="show_info">
                你好，<span>imooc</span>
            </div>
        </div>
    </div>
    <div class="bd">
        <div class="selcetion">
            <div class="header">
                <span>操作框</span>
            </div>
            <div class="control_box">
                <div class="control_content">
                    <span>用户管理</span>
                    <ul>
                        <li><a href="addUser.html" target="main">添加管理员</a></li>
                        <li><a href="selectUsers.html" target="main">查询管理员</a></li>
                    </ul>
                </div>
                <div class="control_content">
                    <span>课程管理</span>
                    <ul>
                        <li><a href="addCourse.html" target="main">课程添加</a></li>
                        <li><a href="courseImport.html" target="main">课程批量导入(Excel)</a></li>
                        <li><a href="showCourse.html" target="main">课程查询</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <iframe id="link_content" name="main" frameborder="0"></iframe>
        </div>
    </div>
</body>
</html>